<footer>
    <h6>Official Website</h6>
    <p>matchmeup.com.ph</p>
    <i class="fa fa-facebook-square" style="font-size:24px;"></i>
    <i class="fa fa-instagram" style="font-size:24px;"></i>
    <i class="fa fa-twitter" style="font-size:24px;"></i>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />    
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
        </filter>
    </defs>
</svg>
<script>
    function openForm() {
      document.getElementById("login").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("login").style.display = "none";
    }

    // Get the modal
    function signupForm() {
        document.getElementById("signup").style.display = "block";
        document.getElementById("login").style.display = "none";  
    }
    
    function cancelForm() {
      document.getElementById("signup").style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    /* window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    } */

</script>
<script src="/static/main.js"></script>
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>


</body>
</html>