<%- include('landing_header') -%>

<header>
    <div class="info-bar">
        <div class="header-message uppercase" id="deliver">
            Deliver : 3-5 days for Metro Manila and 7-10 business days for provincial area.
        </div>
        <div id="head_cart">
            <a href="" class="navbar-brand">
                <img src="/assets/New_logo.png" alt="MMU Logo" id="logo"><h1 id="mmu_name">Match Me Up</h1>
            </a>
            <nav class="navbar navbar-expand-sm" style="color: #242523">
                <div class="container-fluid" id="navbar">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                        <div class="wrapper">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#myHome" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#aboutUs" class="nav-link">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#myProduct" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Products</a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="/product">Suits</a></li>
                                        <li><a class="dropdown-item" href="#">Pants</a></li>
                                        <li><a class="dropdown-item" href="#" style="color: red;">Sales</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link" style="color: #1d1d1f;">Welcome<span style="color: #1d1d1f"> <%-username%> !</span></a>
                                </li>
                            </ul>
                            <ul class="icon-btn">
                                <button type="button" class="btn"><i class="fa fa-search"></i></button>
                                <button type="button" class="btn"><i class="fa fa-shopping-cart"></i></i></button>
                                <button type="button" class="btn"><i class="bi bi-geo-alt-fill"></i></button>
                                <button type="button" class="btn"><a href="/home" style="color:#1d1d1f"><i class="bi bi-box-arrow-right"></i></a></button>
                            </ul>
                        </div>
                    </div>
                </div> 
            </nav>
        </div>
</header>


<!--Section 1 Home-->
<section id="myHome">
    <div id="landing">
        <div>
            <img src="/assets/MP2_Landing.jpg" alt="landing" id="land_img">
        </div>
        <h1>
            <span>Dress to impress with our tailored suits, <br>designed to elevate your style.</span>
        </h1>
        <a href="/loggedIn_product"><button id="shop">Shop Now!</button></a>

    </div>
</section>
<!--Section 2 Sale and Promo-->
<section>
    <div id="sale_promo">
        <img src="/assets/suits woman 8.jpg" alt="sale" id="sale_img3" style="width: 355px;">
        <img src="/assets/suits man 10.jpg" alt="sale" id="sale_img1">
        <img src="/assets/suits man 11.jpg" alt="sale" id="sale_img2">
        <img src="/assets/suits man 12.jpg" alt="sale" id="sale_img4">
    </div>
</section>
<!--Section 3 About-->
<section>
    <div class="row" id="about">
        <div class="col-lg-3 col-md-4" id="aboutUs">
            <h6>About Us</h6>
            <p>Mission</p>
            <p>Vision</p>
            <p>Our Values</p>
        </div>
        <div class="col-lg-3 col-md-4" id="address">
            <h6>Address</h6>
        </div>
        <div class="col-lg-3 col-md-4" id="contact">
            <h6>Contact Us</h6>
        </div>
    </div>
</section>

<%- include('landing_footer') -%>