<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>MatchMeUp</title>
</head>
<body id="body">

    <!-- header -->


    <!-- //main body -->

    <div class="container product-box">
        <h2>Products</h2>
        <p>Use the border classes to add or remove borders from an element:</p> 

        <div class="container">
            <span class="border"><div class="row">
                
            </div></span>
            <span class="border border-0">2</span>
            <span class="border border-top-0">3</span>
            <span class="border border-end-0">4</span>
            <span class="border border-bottom-0">5</span>
        </div>
        <!-- <span class="border border-start-0">6</span>
        <br>
        
        <span class="border-top">7</span>
        <span class="border-end">8</span>
        <span class="border-bottom">9</span>
        <span class="border-start">0</span> -->
    </div>
</body>
</html>